i#icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7em;
}

#delete {
    display: inline;
}

.description {
    text-align: justify;
}

#date {
    color: grey;
    display: inline;
    font-size: 20px;
    padding-right: 150px;
}